@import "tailwindcss";

@theme {
  --color-music-red: #fc6568;
  --color-music-blue: #2e4758;
  --color-music-grey: #e6ebf7;
  --color-music-black: #181324;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100svh;
}